<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <div th:replace="admin/fragments/head :: head"></div>
    <title>Edit User</title>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <div th:replace="admin/fragments/header :: header"></div>
    <div th:replace="admin/fragments/sidebar :: sidebar"></div>

    <div class="content-wrapper">
        <section class="content-header">
            <h1>Edit User</h1>
        </section>

        <section class="content">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Edit User Information</h3>
                </div>
                <div class="box-body">
                    <form th:action="@{/admin/user/edit/{id}(id=${user.id})}" th:object="${user}" method="post">
                        <input type="hidden" th:field="*{id}">
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" class="form-control" id="username" th:field="*{username}" required>
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" th:field="*{email}" required>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" th:field="*{password}" required>
                        </div>
                        <div class="form-group">
                            <label for="role">Role</label>
                            <select class="form-control" id="role" th:field="*{role}">
                                <option value="0">User</option>
                                <option value="1">Admin</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Update</button>
                        <a th:href="@{/admin/user}" class="btn btn-default">Cancel</a>
                    </form>
                </div>
            </div>
        </section>
    </div>

    <div th:replace="admin/fragments/footer :: footer"></div>
</div>
<script th:src="@{/admin/js/jquery.min.js}"></script>
<script th:src="@{/admin/js/bootstrap.min.js}"></script>
<script th:src="@{/admin/js/adminlte.min.js}"></script>
</body>
</html>
